<?xml version="1.0"?>

<model>
  <name>chinese_bowl_red</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ricardo Tellez</name>
    <email>rtellez@theconstructsim.com</email>
  </author>

  <description>
    A model of a chinese bowl.
  </description>

</model>
